/*/.classpath
/*/.project
/*/.settings
/*/bin
/*/gen
/*/target
/*/build
/out
/.idea
/.project
*.iml
node_modules
import_test
teedy-importer-linux
teedy-importer-macos
teedy-importer-win.exe

# CS304 (Software Engineering) specific
/javadoc
/target

